
@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed:400,500,600);

/* 
 * Main page - Theme #$theme
 *
 * From: http://css-tricks.com/perfect-full-page-background-image/ 
 */
html#about {
  background: url(http://photo.azriel.net/Travel/2014/Tallin-Helsinki-and-St-Petersb/i-FP2bT8F/0/XL/_DSC3129-XL.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://photo.azriel.net/Travel/2014/Tallin-Helsinki-and-St-Petersb/i-FP2bT8F/0/XL/_DSC3129-XL.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://photo.azriel.net/Travel/2014/Tallin-Helsinki-and-St-Petersb/i-FP2bT8F/0/XL/_DSC3129-XL.jpg', sizingMethod='scale')"; */
  min-width: 600px;
}

div#bg {
  background: url(http://photo.azriel.net/Travel/2014/Tallin-Helsinki-and-St-Petersb/i-FP2bT8F/0/XL/_DSC3129-XL.jpg) no-repeat center center fixed;
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://photo.azriel.net/Travel/2014/Tallin-Helsinki-and-St-Petersb/i-FP2bT8F/0/XL/_DSC3129-XL.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://photo.azriel.net/Travel/2014/Tallin-Helsinki-and-St-Petersb/i-FP2bT8F/0/XL/_DSC3129-XL.jpg', sizingMethod='scale')";
}

div#bio {
  font-family: 'Cabin Condensed', sans-serif;
  position: absolute;
  right: 10%;
  top: 125px;
}

p#imgcr:before { content: "\00a9 2014 Azriel Photography"; }

div.imgcr { position: fixed; bottom: 0px; left: auto; right: 0px; top: auto; }
